h1 {
    text-align: center;
    color: #1b1717;
    background-color: #eeebdd;
    font-size: 30px;
    ;
    }
    header nav ul li {
        list-style-type: none;
        display: inline;
        margin: 200px;
        font-size: 20px;
        
    }

    body{
        background-color: #eeebdd;
    }

    section{
        margin: 100px;

        text-align: center;
    }

    